/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import "tailwindcss";


/* 基本元素設定 */
* {
  box-sizing: border-box;
}

/* 全站 body 預設字體與樣式 */
body {
  font-family: 'Noto Sans TC', sans-serif;
  min-width: 300px;
  @apply text-base text-neutral-700 leading-relaxed;
}

.itali {
  font-family: 'italiana';
}

.serif {
  font-family: 'Noto Serif TC';
}

/* .title {
  @apply text-xl font-bold leading-7;
} */

.navbtn {
  @apply hover:text-[#3F88B4] transition duration-300;
}

.btn-white {
  @apply border px-6 py-2 w-fit cursor-pointer transition-all hover:text-white hover:bg-neutral-700;
}

.btn-dark {
  @apply border text-white bg-neutral-700 px-6 py-2 w-fit cursor-pointer transition-all hover:bg-white hover:text-neutral-700;
}


.pop-swiper {
    width: 100%;
    padding: 100px 0 10px !important;
}

.pop-swiper .swiper-button-next:after,
.pop-swiper .swiper-button-prev:after {
    content: '';
}

.pop-swiper .swiper-button-prev,
.pop-swiper .swiper-button-next {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 30px;
}


.pop-swiper .swiper-button-prev {
   right: calc(12vw + 70px);
   left: auto;
    transform: scale(-1.5);
    transition: 0.3s;
}

.pop-swiper .swiper-button-next {
    right: 12vw;
    transform: scale(1.5);
    transition: 0.3s;
}