/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  min-width: 300px;
  @apply text-base text-neutral-700 leading-relaxed;
}

.itali {
  font-family: 'italiana';
}

.serif {
  font-family: 'Noto Serif TC';
}

.btn {
  @apply text-sm sm:text-base px-4 sm:px-6 py-2 w-fit cursor-pointer;
}

.btn-white {
  @apply text-sm sm:text-base border border-neutral-700 px-4 sm:px-6 py-1.5 sm:py-2 w-fit cursor-pointer transition-all hover:text-[#3F88B4] hover:border-[#3F88B4];
}

.btn-dark {
  @apply text-sm sm:text-base border border-neutral-700 text-white bg-neutral-700 px-4 sm:px-6 py-1.5 sm:py-2 w-fit cursor-pointer transition-all hover:border-[#3F88B4] hover:bg-[#3F88B4];
}

/* 動畫 */
.ani-fade {
  animation: fade 0.5s ease-in forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeup-enter-active,
.fadeup-leave-active {
  transition: all 0.4s ease;
}

.fadeup-enter-from,
.fadeup-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

/* ::-webkit-scrollbar {
  width: 7px;
}

 ::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

 ::-webkit-scrollbar-track-piece {
  background: transparent;
}

 ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #313b443f;
}

 ::-webkit-scrollbar-track {
  box-shadow: transparent;
} */

/* swiper */
.pop-swiper {
  width: 100%;
  padding: 100px 0 10px 10px !important;
}

.pop-swiper .swiper-wrapper {
  align-items: center !important;
}

.pop-swiper .swiper-button-next:after,
.pop-swiper .swiper-button-prev:after {
  content: '';
}

.pop-swiper .swiper-button-prev,
.pop-swiper .swiper-button-next {
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 30px;
}

.pop-swiper .swiper-button-prev {
  right: calc(12vw + 70px);
  left: auto;
  transform: scale(-1.5);
  transition: 0.3s;
}

.pop-swiper .swiper-button-next {
  right: 12vw;
  transform: scale(1.5);
  transition: 0.3s;
}

.mySwiper1 {
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 10px;
}

.mySwiper1 .swiper-wrapper {
  align-items: center;
}

.mySwiper2 .swiper-slide {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {

  opacity: 1;
}